In [51]:
job_roles = [
    {'role': 'Data Scientist', 'skills': ['Python', 'SQL', 'Machine Learning'], 'job_date': '2023-05-12'},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'Deep Learning'], 'job_date': '2023-05-15'},
    {'role': 'Data Analyst', 'skills': ['SQL', 'R', 'Tableau'], 'job_date': '2023-05-10'},
    {'role': 'Business Intelligence Developer', 'skills': ['SQL', 'PowerBI', 'Data Warehousing'], 'job_date': '2023-05-08'},
    {'role': 'Data Engineer', 'skills': ['Python', 'Spark', 'Hadoop'], 'job_date': '2023-05-18'},
    {'role': 'AI Specialist', 'skills': ['Python', 'PyTorch', 'AI Ethics'], 'job_date': '2023-05-20'}
]

my_skills = ['Python', 'SQL', 'R']


for job in job_roles:
    # Check if any of your skills are in the job's skills
    if any(skill in job['skills'] for skill in my_skills):
        print("Matched:", job['role'])  # Job has at least one of your skills
    else:
        print("Not matched:", job['role'])  # No matching skills

Matched: Data Scientist
Matched: Machine Learning Engineer
Matched: Data Analyst
Matched: Business Intelligence Developer
Matched: Data Engineer
Matched: AI Specialist

In [ ]:
# Return job if match at least 2 skills
# Output return a list of tuples (role, matched_skills)
qualified_jobs = []

for job in job_roles:
    matched_skills = [skill for skill in my_skills if skill in job['skills']]
    if len(matched_skills) >= 2:
        qualified_jobs.append((job['role'], matched_skills))
    else:
        print('No match', job['role'])

print("\nQualified Jobs:")
for role, skills in qualified_jobs:
    print(f"Role: {role}, Matched Skills: {skills}")

No match Machine Learning Engineer
No match Business Intelligence Developer
No match Data Engineer
No match AI Specialist

Qualified Jobs:
Role: Data Scientist, Matched Skills: ['Python', 'SQL']
Role: Data Analyst, Matched Skills: ['SQL', 'R']

list

In [73]:
# Return job if match at least 2 skills
# Use set intersection for better performance with large lists
# Output return a set of tuples (role, matched_skills)
qualified_jobs = []
for job in job_roles:
    matched_skills = set(my_skills) & set(job['skills'])  # find common skills
    
    if len(matched_skills) >= 2:
        qualified_jobs.append((job['role'], matched_skills))
    else:
        print('No match', job['role'])

print("\nQualified Jobs:")
for role, skills in qualified_jobs:
    print(f"Role: {role}, Matched Skills: {skills}")

No match Machine Learning Engineer
No match Business Intelligence Developer
No match Data Engineer
No match AI Specialist

Qualified Jobs:
Role: Data Scientist, Matched Skills: {'SQL', 'Python'}
Role: Data Analyst, Matched Skills: {'SQL', 'R'}

In [76]:
jobs_data = [
    {
        "job_title": "Data Scientist",
        "job_skills": ["Python", "SQL", "Machine Learning", "Statistics"],
        "remote": True
    },
    {
        "job_title": "Data Analyst",
        "job_skills": ["SQL", "Excel", "Tableau", "Data Visualization"],
        "remote": False
    },
    {
        "job_title": "Machine Learning Engineer",
        "job_skills": ["Python", "TensorFlow", "Deep Learning", "MLOps"],
        "remote": True
    },
    {
        "job_title": "Business Intelligence Developer",
        "job_skills": ["SQL", "PowerBI", "Data Warehousing", "ETL"],
        "remote": False
    },
    {
        "job_title": "Data Engineer",
        "job_skills": ["Python", "Spark", "Hadoop", "AWS"],
        "remote": True
    },
    {
        "job_title": "AI Specialist",
        "job_skills": ["Python", "PyTorch", "Natural Language Processing", "AI Ethics"],
        "remote": False
    },
    {
        "job_title": "Data Architect",
        "job_skills": ["SQL", "Cloud Architecture", "Data Modeling", "Snowflake"],
        "remote": True
    },
    {
        "job_title": "Data Governance Manager",
        "job_skills": ["Data Privacy", "Compliance", "Data Cataloging", "SQL"],
        "remote": False
    },
    {
        "job_title": "Big Data Engineer",
        "job_skills": ["Scala", "Kafka", "Spark", "NoSQL"],
        "remote": True
    },
    {
        "job_title": "Analytics Manager",
        "job_skills": ["Python", "SQL", "Storytelling", "Project Management"],
        "remote": False
    }
]

In [84]:
list(filter( lambda job: 'Python' in job['job_skills'] and job['remote'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning', 'Statistics'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning', 'MLOps'],
  'remote': True},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop', 'AWS'],
  'remote': True}]

In [111]:
data_science_job = [
    {'role': 'Data Scientist', 'skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'role': 'Machine Learning Engineer', 'skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'role': 'Data Analyst', 'skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'role': 'Business Intelligence Developer', 'skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'role': 'Data Engineer', 'skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'role': 'AI Specialist', 'skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [112]:
import ast
from datetime import datetime, date

for job in data_science_job:
    job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d').date()
    job['job_skills'] = ast.literal_eval(job['skills'])
    print(job)

{'role': 'Data Scientist', 'skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': datetime.date(2023, 5, 12), 'job_skills': ['Python', 'SQL', 'Machine Learning']}
{'role': 'Machine Learning Engineer', 'skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': datetime.date(2023, 5, 15), 'job_skills': ['Python', 'TensorFlow', 'Deep Learning']}
{'role': 'Data Analyst', 'skills': "['SQL', 'R', 'Tableau']", 'job_date': datetime.date(2023, 5, 10), 'job_skills': ['SQL', 'R', 'Tableau']}
{'role': 'Business Intelligence Developer', 'skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': datetime.date(2023, 5, 8), 'job_skills': ['SQL', 'PowerBI', 'Data Warehousing']}
{'role': 'Data Engineer', 'skills': "['Python', 'Spark', 'Hadoop']", 'job_date': datetime.date(2023, 5, 18), 'job_skills': ['Python', 'Spark', 'Hadoop']}
{'role': 'AI Specialist', 'skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': datetime.date(2023, 5, 20), 'job_skills': ['Python', 'PyTorch', 'AI Ethics']}

In [2]:
class BaseSalary:
    def __init__(self,base_salary):
        self.base_salary = base_salary
        pass

In [5]:
salary = BaseSalary(120000)
salary.base_salary

120000